[user]
	name = Linus C.
	email = linusc9516@gmail.com
[core]
	excludesfile = /Users/linusc/.gitignore_global
	pager = delta
[interactive]
	diffFilter = delta --color-only
[include]
	path = ~/.config/delta/catppuccin.gitconfig
[delta]
	features = catppuccin-mocha
[push]
    autoSetupRemote = true
[alias]
	lg = log --topo-order --all --graph --date=local --pretty=format:'%C(green)%h%C(reset) %><(55,trunc)%s%C(red)%d%C(reset) %C(blue)[%an]%C(reset) %C(yellow)%ad%C(reset)%n'
