[user]
	name = Linus C.
	email = linusc9516@gmail.com
[core]
	excludesfile = /Users/linusc/.gitignore_global
	pager = delta
[interactive]
	diffFilter = delta --color-only
[include]
	path = ~/.config/delta/catppuccin.gitconfig
[delta]
	features = catppuccin-mocha
[push]
    autoSetupRemote = true
